/* Skill */ 

.skill:hover{
    background-color: #FF7C4C;
    opacity: 1;
    color:white
}
.skill{
    background-color: rgb(230, 224, 222);
    /* rgb(247, 244, 243) */
}
@media (max-width: 990px) and (min-width:800px){
    
    .skill-heading{
        /* margin-top: minmax(auto 150px) !important; */
        padding-bottom: 120px !important;
    }
}