.navbar .nav-link {
    position: relative;
}

.navbar .nav-link::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    bottom: 0;
    left: 45%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.navbar .nav-link:hover::before {
    background-color: blueviolet;
    transition-delay: 0.2s;
    width: 80%;
    left: 10%;
}

.navbar .nav-link:hover,
#toggle:hover {
    color: blueviolet;
}


.navbar-nav a:focus {
    color: blueviolet;
    /* font-weight: bold; */
}

.underline{
    border-bottom: 1px solid #36296A;
}

#logo {
    /* Default styles */
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: "";

    /* Media query for smaller screens */
    @media (max-width: 450px) {
        letter-spacing: 0.1rem;
        padding: 50px 0;
    }
}

/* @media (max-width: 450px) {
    
} */

@media (max-width: 990px) and (min-width:800px) {
    .navbar-desk {
        padding: 10px 50px;
    }

    #logo {
        font-size: 1.8rem;
        font-weight: 800;
    }

    .navbar-brand img {
        width: 80px !important;
        height: 70px !important;
    }
    .navbar{
        font-size: 1.8rem !important;
    }

    #about .card {
        max-height: 40vh !important;
    }
}