.navbar .nav-link {
    position: relative;
}

.navbar .nav-link::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    bottom: 0;
    left: 45%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.navbar .nav-link:hover::before {
    background-color: blueviolet;
    transition-delay: 0.2s;
    width: 80%;
    left: 10%;
}

.navbar .nav-link:hover,
#toggle:hover {
    color: blueviolet;
}


.navbar-nav a:focus {
    color: blueviolet;
    /* font-weight: bold; */
}
